<section class="col-12 col-xs-12 col-sm-12 col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-question-circle"></i> About</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>A Editor for Processing</h4>
          <p>
            <strong>An Editor for Processing</strong> is an application which can execute and store sketches for Processing.
            <br><br>
            The app is under complete reconstruction, and will soon be able to load PDE files from SD-card, like it used to.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-exclamation-circle"></i> Info</div>
    <div class="panel-body row">
      <div class="col-12 col-xs-12 col-sm-12 col-lg-12">
        <a class="btn btn-default btn-lg btn-block" href="#static/license" title="License"><i class="fa fa-gavel"></i> License</a>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-lg-12">
        <a class="btn btn-default btn-lg btn-block" href="#static/credits" title="Credits"><i class="fa fa-puzzle-piece"></i> Credits</a>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-lg-12">
        <div id="about-qr"></div>
      </div>
    </div>
  </div>
</section>
