<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12" itemscope itemtype="http://schema.org/Code">
  <meta content="{{ site.name }}" itemprop="name">
  <meta content="http://tiste.org/{{ site.name }}/" itemprop="url">
  <meta content="https://github.com/T1st3/{{ site.name }}/blob/master/LICENSE" itemprop="license">
  <meta content="https://github.com/T1st3/{{ site.name }}" itemprop="codeRepository">
  <br>
  <a target="_blank" href="coverage/lcov-report/index.html" title="View the coverage in a new tab">
    <i class="fa fa-external-link"></i> View in new tab
  </a>
  <br><br>
  <iframe src="coverage/lcov-report/index.html" id="coverageiframe" style="min-height: 80%; width: 100%;" title="Coverage frame" role="document"></iframe>
</section>
