<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-wrench"></i> Dependencies</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- jQuery -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://jquery.com/" title="jQuery website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">jQuery</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jquery/jquery/blob/master/LICENSE.txt" title="jQuery license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jquery/jquery" title="jQuery on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Require.js -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://requirejs.org/" title="Require.js website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Require.js</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jrburke/requirejs/blob/master/LICENSE" title="Require.js license" itemprop="license"><i class="fa fa-gavel"></i> new BSD / MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jrburke/requirejs" title="Require.js on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Require.js Tpl -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/JulienCabanes/requirejs-tpl" title="Require.js Tpl plugin website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Require.js Tpl plugin</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/requirejs/text/blob/master/LICENSE" title="Require.js Tpl plugin license" itemprop="license"><i class="fa fa-gavel"></i> new BSD / MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/JulienCabanes/requirejs-tpl" title="Require.js Tpl plugin on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Underscore -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://underscorejs.org/" title="Underscore website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Underscore</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jashkenas/underscore/blob/master/LICENSE" title="Underscore license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jashkenas/underscore" title="Underscore on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Backbone -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://backbonejs.org/" title="Backbone.js website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Backbone.js</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jashkenas/backbone/blob/master/LICENSE" title="Backbone.js license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jashkenas/backbone" title="Backbone.js on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Backbone.Radio -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/marionettejs/backbone.radio" title="Backbone.Radio website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Backbone.Radio</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/marionettejs/backbone.radio/blob/master/LICENSE" title="Backbone.Radio license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/marionettejs/backbone.radio" title="Backbone.Radio on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Backbone.Marionette -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://marionettejs.com/" title="Backbone.Marionette website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Backbone.Marionette</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/marionettejs/backbone.marionette/blob/master/license.txt" title="Backbone.Marionette license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/marionettejs/backbone.marionette" title="Backbone.Marionette on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- LocalForage -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://mozilla.github.io/localForage/" title="localForage website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">localForage</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/mozilla/localForage/blob/master/LICENSE" title="localForage license" itemprop="license"><i class="fa fa-gavel"></i> Apache v2</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/mozilla/localForage" title="localForage on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- LocalForage-Backbone -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/mozilla/localForage-backbone" title="localForage-backbone website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">localForage-backbone</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/mozilla/localForage-backbone/blob/master/LICENSE" title="localForage-backbone license" itemprop="license"><i class="fa fa-gavel"></i> Apache v2</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/mozilla/localForage-backbone" title="localForage-backbone on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- HTML5 Boilerplate -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://html5boilerplate.com/" title="H5BP website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">HTML5Boilerplate</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/h5bp/html5-boilerplate/blob/master/LICENSE.txt" title="H5BP license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/h5bp/html5-boilerplate" title="H5BP on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Normalize.css -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://necolas.github.io/normalize.css/" title="Normalize.css website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Normalize.css</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/necolas/normalize.css/blob/master/LICENSE.md" title="Normalize.css license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/necolas/normalize.css" title="Normalize.css on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Bootstrap -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://getbootstrap.com/" title="Bootstrap website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Bootstrap</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="Bootstrap license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/twbs/bootstrap" title="Bootstrap on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Font-Awesome -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://fontawesome.io/" title="Font-Awesome website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Font-Awesome</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://fontawesome.io/license/" title="Font-Awesome license" itemprop="license"><i class="fa fa-gavel"></i> Sil OFL 1.1 + MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/FortAwesome/Font-Awesome" title="Font-Awesome on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Font-Awesome-Animation -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://l-lin.github.io/font-awesome-animation/" title="FontAwesome Animation website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">FontAwesome Animation</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://en.wikipedia.org/wiki/MIT_License" title="FontAwesome Animation license" itemprop="license"><i class="fa fa-gavel"></i> SIL OLF 1.1 + MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/l-lin/font-awesome-animation" title="FontAwesome Animation on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Crayon.css -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://riccardoscalco.github.io/crayon/" title="Crayon.css website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Crayon.css</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/riccardoscalco/crayon/blob/master/LICENSE" title="Crayon.css license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/riccardoscalco/crayon" title="Crayon.css on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- FastClick -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/ftlabs/fastclick" title="FastClick website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">FastClick</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/ftlabs/fastclick/blob/master/LICENSE" title="FastClick license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/ftlabs/fastclick" title="FastClick on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- jQuery-QRCode -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://larsjung.de/jquery-qrcode/" title="jQuery.qrcode website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">jQuery.qrcode</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/lrsjng/jquery-qrcode#license" title="jQuery.qrcode license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/lrsjng/jquery-qrcode" title="jQuery.qrcode on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Rangeslider.js -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://andreruffert.github.io/rangeslider.js/" title="rangeslider.js website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">rangeslider.js</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/andreruffert/rangeslider.js/blob/develop/LICENSE.md" title="rangeslider.js license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/andreruffert/rangeslider.js" title="rangeslider.js on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Spin.js -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://fgnass.github.io/spin.js/" title="Spin.js website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Spin.js</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/fgnass/spin.js/blob/master/LICENSE.txt" title="Spin.js license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/fgnass/spin.js" title="Spin.js on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Bootstrap-Validator -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://1000hz.github.io/bootstrap-validator/" title="Bootstrap Validator website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Bootstrap Validator</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/1000hz/bootstrap-validator/blob/master/LICENSE" title="Bootstrap Validator license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/1000hz/bootstrap-validator" title="Bootstrap Validator on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Famfamfam Flags -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/T1st3/famfamfam-flags" title="FamFamFam Flags website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">FamFamFam Flags</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/T1st3/famfamfam-flags" title="FamFamFam Flags license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/T1st3/famfamfam-flags" title="FamFamFam Flags on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Vendor-Icons -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/T1st3/vendor-icons" title="vendor-icons website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">vendor-icons</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/T1st3/vendor-icons/blob/master/LICENSE" title="vendor-icons license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/T1st3/vendor-icons" title="vendor-icons on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Subtle-Patterns - Swirl -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://subtlepatterns.com/swirl-2/" title="Swirl pattern website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Swirl pattern</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://creativecommons.org/licenses/by-sa/3.0/" title="Swirl pattern license" itemprop="license"><i class="fa fa-gavel"></i> CC BY-SA 3.0</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/subtlepatterns/SubtlePatterns" title="Subtle Patterns on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

    </ul>
  </div>
</section>
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <hr>
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-cubes"></i> Build tools</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- Mocha -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://visionmedia.github.io/mocha/" title="Mocha website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Mocha</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/visionmedia/mocha/blob/master/LICENSE" title="Mocha license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/visionmedia/mocha" title="Mocha on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Chai -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://chaijs.com/" title="Chai website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Chai</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/chaijs/chai" title="Chai license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/chaijs/chai" title="Chai on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Chai-jQuery -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/chaijs/chai-jquery" title="Chai-jQuery website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Chai-jQuery</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/chaijs/chai-jquery/blob/master/LICENSE" title="Chai-jQuery license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/chaijs/chai-jquery" title="Chai-jQuery on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Sinon.JS -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://sinonjs.org/" title="Sinon.JS website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Sinon.JS</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/sinonjs/sinon/blob/master/LICENSE" title="Sinon.JS license" itemprop="license"><i class="fa fa-gavel"></i> BSD</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/sinonjs/sinon" title="Sinon.JS on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Sinon-Chai -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/domenic/sinon-chai" title="Sinon-Chai website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Sinon-Chai</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/domenic/sinon-chai/blob/master/LICENSE.txt" title="Sinon-Chai license" itemprop="license"><i class="fa fa-gavel"></i> WTFPL / BSD</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/domenic/sinon-chai" title="Sinon-Chai on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Node.js -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://nodejs.org/" title="Node.js website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Node.js</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/joyent/node/blob/master/LICENSE" title="Node.js license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/joyent/node" title="Node.js on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://gulpjs.com/" title="Gulp website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Gulp</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/gulpjs/gulp/blob/master/LICENSE" title="Gulp license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/gulpjs/gulp/" title="Gulp on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- JSDoc -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://usejsdoc.org/" title="JSDoc website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">JSDoc</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jsdoc3/jsdoc/blob/master/LICENSE.md" title="JSDoc license" itemprop="license"><i class="fa fa-gavel"></i> Apache v2</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jsdoc3/jsdoc" title="JSDoc on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- PhantomJS -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://phantomjs.org/" title="PhantomJS website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">PhantomJS</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/ariya/phantomjs/blob/master/LICENSE.BSD" title="PhantomJS license" itemprop="license"><i class="fa fa-gavel"></i> BSD</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/ariya/phantomjs" title="PhantomJS on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Istanbul -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://gotwarlost.github.io/istanbul/" title="Istanbul website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Istanbul</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/gotwarlost/istanbul/blob/master/LICENSE" title="Istanbul license"><i class="fa fa-gavel"></i> BSD</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/gotwarlost/istanbul" title="Istanbul on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- ES-Lint -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://eslint.org/" title="ES-Lint website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">ES-Lint</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/eslint/eslint/blob/master/LICENSE" title="ES-Lint license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/eslint/eslint" title="ES-Lint on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- JSCS -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://jscs.info/" title="JSCS website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">JSCS</span></a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jscs-dev/node-jscs/blob/master/LICENSE" title="JSCS license" itemprop="license"><i class="fa fa-gavel"></i> MIT</a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jscs-dev/node-jscs" title="JSCS on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

    </ul>
  </div>
</section>
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <hr>
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-tasks"></i> Node-based tools & Gulp plugins</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- Browser-Sync -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/browser-sync" title="browser-sync on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">browser-sync</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/shakyshane/browser-sync" title="browser-sync on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Chalk -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/chalk" title="chalk on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">chalk</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/sindresorhus/chalk" title="chalk on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Del -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/del" title="del on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">del</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/sindresorhus/del" title="del on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Main-Bower-Files -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/main-bower-files" title="main-bower-files on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">main-bower-files</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/cknoetschke/main-bower-files" title="main-bower-files on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Mocha-PhantomJS -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/mocha-phantomjs" title="mocha-phantomjs on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">mocha-phantomjs</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/metaskills/mocha-phantomjs" title="mocha-phantomjs on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Somebody -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/somebody" title="somebody on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">somebody</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/sindresorhus/somebody" title="somebody on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-Bower -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-bower" title="gulp-bower on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-bower</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/zont/gulp-bower" title="gulp-bower on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-Concat -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-concat" title="gulp-concat on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-concat</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://github.com/wearefractal/gulp-concat" title="gulp-concat on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-JSCS -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-jscs" title="gulp-jscs on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-jscs</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/jscs-dev/gulp-jscs" title="gulp-jscs on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Ip -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/ip" title="ip on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">ip</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/indutny/node-ip" title="ip on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-Rename -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-rename" title="gulp-rename on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-rename</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/hparra/gulp-rename" title="gulp-rename on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-Replace -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-replace" title="gulp-replace on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-replace</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/lazd/gulp-replace" title="gulp-replace on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-Sourcemaps -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-sourcemaps" title="gulp-sourcemaps on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-sourcemaps</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/floridoo/gulp-sourcemaps" title="gulp-sourcemaps on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

      <!-- Gulp-Uglify -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.npmjs.org/package/gulp-uglify" title="gulp-uglify on NPM" itemprop="url">
          <img src="assets/img/vendor/npm.png" width="16" height="16" alt="NPM package"> <span itemprop="name">gulp-uglify</span>
        </a></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/terinjokes/gulp-uglify" title="gulp-uglify on Github" itemprop="codeRepository"><i class="fa fa-github-alt"></i> Github</a></div>
      </div></li>

    </ul>
  </div>
</section>
<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <hr>
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-cloud"></i> Web services</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- Github -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12"><a target="_blank" class="btn btn-default" href="https://github.com/" title="Github" itemprop="url"><i class="fa fa-github"></i> <span itemprop="name">Github</span> homepage</a></div>
      </div></li>

      <!-- NPM -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12"><a target="_blank" class="btn btn-default" href="https://npmjs.org/" title="NPM" itemprop="url"><img alt="NPM logo" src="assets/img/vendor/npm.png" width="16" height="16"> <span itemprop="name">NPM</span> homepage</a></div>
      </div></li>

      <!-- Bower -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12"><a target="_blank" class="btn btn-default" href="http://bower.io" title="Bower" itemprop="url"><img alt="Bower logo" src="assets/img/vendor/bower.png" width="16" height="16"> <span itemprop="name">Bower</span> homepage</a></div>
      </div></li>

    </ul>
  </div>
</section>
<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <hr>
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-flag-o"></i> Standards</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- HTML5 -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://www.w3.org/TR/html5/" title="HTML5" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name"><i class="fa fa-html5"></i> HTML5</span></a></div>
      </div></li>

      <!-- CSS3 -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://www.w3.org/Style/CSS/current-work" title="CSS3" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name"><i class="fa fa-css3"></i> CSS3</span></a></div>
      </div></li>

      <!-- WAI-ARIA -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://www.w3.org/TR/aria-in-html/" title="WAI-ARIA" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">WAI-ARIA</span></a></div>
      </div></li>

      <!-- schema.org -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://schema.org/" title="Schema.org" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">schema.org</span></a></div>
      </div></li>

      <!-- Semver -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://semver.org/" title="SemVer.org" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">SemVer</span></a></div>
      </div></li>

      <!-- OpenSearch.org -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://www.opensearch.org/Home" title="OpenSearch.org" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">OpenSearch</span></a></div>
      </div></li>

      <!-- Sitemaps -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://www.sitemaps.org/" title="Sitemaps.org" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Sitemaps</span></a></div>
      </div></li>

      <!-- Humans.txt -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://humanstxt.org/" title="Humans.txt" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Humans.txt</span></a></div>
      </div></li>

      <!-- JSDoc -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://usejsdoc.org/" title="JSDoc" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">JSDoc</span></a></div>
      </div></li>

      <!-- JSON -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://json.org/" title="JSON" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">JSON</span></a></div>
      </div></li>

      <!-- MarkDown -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://daringfireball.net/projects/markdown/syntax" title="Markdown" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Markdown</span></a></div>
      </div></li>

      <!-- Conventional Changelog -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://github.com/ajoslin/conventional-changelog" title="Conventional Changelog" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Conventional Changelog</span></a></div>
      </div></li>

      <!-- EditorConfig -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://editorconfig.org/" title="Editorconfig" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Editorconfig</span></a></div>
      </div></li>

    </ul>
  </div>
</section>
<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <hr>
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-thumbs-o-up"></i> Special thanks</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- MDN -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://developer.mozilla.org/" title="MDN" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">MDN</span></a></div>
      </div></li>

      <!-- H5BP -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://html5boilerplate.com/" title="H5BP website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">HTML5Boilerplate</span></a></div>
      </div></li>

      <!-- WebPlatform.org -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://www.webplatform.org/" title="WebPlatform.org" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">WebPlatform.org</span></a></div>
      </div></li>

    </ul>
  </div>
</section>
<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <hr>
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-linux"></i> Operating Systems that built this app</div>
    <div class="panel-body"></div>
    <ul class="list-group">

      <!-- Debian -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="https://www.debian.org/index.html" title="Debian website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Debian</span></a></div>
      </div></li>

      <!-- Fedora -->
      <li class="list-group-item"><div class="row" itemscope itemtype="http://schema.org/Code">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><a target="_blank" class="btn btn-default" href="http://fedoraproject.org/" title="Fedora website" itemprop="url"><i class="fa fa-globe"></i> <span itemprop="name">Fedora</span></a></div>
      </div></li>

    </ul>
  </div>
</section>
