<div class="navbar-header">
  <!--
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#page-layout-navtop-collapse">
    <span class="sr-only">Toggle navigation</span>
    <i class="fa fa-ellipsis-v"></i>
  </button>
  -->
  <h1 id="app-title">
    <a href="#start" class="navbar-brand" id="navbar-brand" title="An Editor for Processing" rel="home">
      <img src="assets/img/logo.png" alt="An Editor for Processing">
    </a>
  </h1><br />
  <a href="#start" id="slogan"><strong>An Editor for Processing</strong></a>
  <div id="mainspin"></div>
</div>

<!--
<div class="collapse navbar-collapse" id="page-layout-navtop-collapse">
  <ul class="nav navbar-nav navbar-right" role="menubar">
    
  </ul>
</div>
-->
