<section class="wrap col-12 col-xs-12 col-sm-12 col-lg-12">
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-home"></i> An Editor for Processing</div>
    <div class="panel-body"></div>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#sketchs/new" title="New sketch">
          <i class="fa fa-plus-square"></i> Add a sketch
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#sketchs" title="My saved sketches">
          <i class="fa fa-floppy-o"></i> My saved sketches
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/about" title="About">
          <i class="fa fa-question-circle"></i> About
        </a>
      </li>
    </ul>
  </div>
</section>

<!--
<section class="wrap col-12 col-xs-12 col-sm-12 col-lg-12">
  <div class="panel panel-default" role="presentation">
    <div class="panel-heading"><i class="fa fa-code"></i> Dev</div>
    <div class="panel-body"></div>
    <ul class="list-group">
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/changelog" title="Changelog">
          Changelog
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/coverage" title="Coverage">
          Coverage
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/credits" title="Credits">
          Credits
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/deps" title="Dependencies">
          Dependencies
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/jsdoc" title="API Documentation">
          API Documentation
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/license" title="License">
          License
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn btn-default btn-lg btn-block" href="#static/test" title="Tests">
          Tests
        </a>
      </li>
    </ul>
  </div>
</section>
-->