.folder, .file{
    font-family:sans;
    font-size:10px;
    cursor:pointer;
}

.folder{
	background: url('../img/folder.png') no-repeat 50% 0%;
	margin:2px;
	padding-top:25px;
	text-align:center;
}


.file{
	background: url('../img/file.png') no-repeat 50% 0%;
	margin:2px;
	padding-top:25px;
	text-align:center;
}